
apiVersion : apps/v1
kind: Deployment
metadata:
  name: logistnet-deployment 
spec:
  progressDeadlineSeconds: 3600
  replicas: 1
  selector:
    matchLabels:
      app: logistnet-deployment
  template:
    metadata:
      labels:
        app: logistnet-deployment 
    spec:
      containers:
        - name: logistnet-server
          image: containerregistrylogistnet.azurecr.io/logistnet
          ports:
            - containerPort: 4000