apiVersion: v1
kind: Service
metadata:
    name: svc-logistnet
spec:
    type: LoadBalancer
    ports:
      - port: 4000
        targetPort: 4000
        protocol: TCP
    selector:
        app: logistnet-deployment